
/* The Modal (background) */
.book-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.book-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 15px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@media (max-width:1357px) {
  .book-modal-content {
    width: 65%;
  }
}
@media (max-width: 991px) {
  .book-modal-content {
    width: 80%;
  }
}

@media (max-width: 843px) {
  .book-modal-content {
    width: 90%;
  }
}

.list-table-data-status-type{
  table-layout: fixed;
  width: 100px;
  display: visible;
}

.list-table-data-description{
  table-layout: fixed;
  width: 200px;
  display: visible;
}

.search-icon{
  display: visible;
}

@media (max-width: 775px) {
  .list-table-data-description{
  display: none;
}
}

@media (max-width: 415px) {
  .list-table-data-status-type{
  display: none;
}
}

@media (max-width: 991px) {
  .search-icon{
  display: none;
}
}




/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:0px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:0px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.book-modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.book-modal-body {
    padding: 2px 16px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }

.book-modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}




/* The User Modal (background) */
.user-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 12; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.user-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 15px;
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:0px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:0px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.userclose {
  z-index: 13; /* Sit on top */
  color: grey;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.userclose:hover,
.userclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.user-modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.user-modal-body {
    padding: 2px 16px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }

.book-modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

